/* color palette from <https://github.com/vuejs/theme> */
:root {
  --accent: #748CAB;
  --dark: #0D1321;
  --soft-dark: #1e2023;
  --text: #F0EBD8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black-soft);
    --color-text: var(--text);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: auto;
  font-weight: normal;
}
html, body {
  height: 100vh;
  width: 100%;
}
body {
  color: var(--color-text);
  background: var(--soft-dark);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: monospace;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--dark);
  margin: 1em 0;
  padding: 0;
}