@import './base.css';

#app {
  display: grid;
}
a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}
.accent {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
}
.title{
  font-size: 2rem;
}
.card {
  background-color: var(--dark);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media (min-width: 800px) {
  a:hover {
    background-color: var(--dark);
  }
}